#text{
    height: 25px;
    border-radius: 5px;
    padding: 4 px;
    border: solid thin #ad0000;
    width: 100%;
}

#button{
    padding:10px;
    width:100px;
    color: blue ;
    background-color: lightblue;
    border: none;
}

#box{
    background-color : rgb(37, 18, 207);
     margin:auto;
     width: 300px;
     padding: 20px;
}

